.be {

// haber ve duyurular
#fakulte-sagpanel {
  padding-left: 15px;
  padding-top: 0;

  //
  @media (min-width: $screen-lg) {
    .info-div {
      padding-top: 0;
      padding-left: 30px;
      margin-bottom: 40px;
    }
  }
}

// resimli baglantilar
#resimli-baglantilar {

  // golgeyi kapat
  .carousel-control {
    text-shadow: none;
  }

  // mobil kaydirma sonununu giderir
  @media (max-width: $screen-lg) {
    .carousel-control {
      position: absolute;

      &.right {
        right: 0;
      }

      &.left {
        left: 0;
      }
    }
  }
}

// slider
#carousel-example-generic {

  // butonları üstüne gelince göster
  .carousel-control {
    width: 10%;
    background: none;
    opacity: 0;
    @include transition(opacity .3s ease);
  }

  &:hover {
    .carousel-control {
      opacity: 1;  
    }
  }
}

#fakulte-resimdiv img {
  max-width: 978px !important;
}

// aktif slayt butonu rengi
.carousel-indicators .active {
  background-color: $gazi-orange;
  border-color: $gazi-orange;
}

// standart slayt butonu rengi
.carousel-indicators li {
  background-color: #fff;
  border-color: #fff;
}

// anasayfa basliklari
.info-title {
  position: relative;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.65rem;
  padding-bottom: 10px;
  border-bottom-color: rgba(0, 0, 0, .07);

  &:after {
    position: absolute;
    content: "";
    width: 26%;
    height: 3px;
    background-color: $gazi-orange;
    bottom: -2px;
    left: 0;
  }
}

// hizli baglantilari guzellestir
#onemli-baglantilarliste {
  -webkit-column-gap: 1px; /* Chrome, Safari, Opera */
  -moz-column-gap: 1px; /* Firefox */
  column-gap: 1px;

  @media (max-width: $screen-lg) {
    column-width: auto !important;
    -webkit-column-width: auto !important;
    -moz-column-width: auto !important;
  }
}

.homepage-container {

  .shortcuts ul {
    padding-left: 0;
    margin-left: 0;

    // mobil
    @media (max-width: $screen-lg) {
      width: 100%;
    }
  }

  //
  .shortcut-buttons ul li {
    margin-right: -1px;
  }

  .shortcut-buttons ul li a {
    font-size: 12px;

    @media (max-width: $screen-lg) {
      font-size: 10px;
    }
  }

  .list-style li {
    position: relative;
    height: 35px;
    line-height: 35px;
    white-space: nowrap;
    
    // masaüstü
    @media (min-width: $screen-lg) {
      overflow: hidden;
      max-width: 230px;
      text-overflow: ellipsis;
    }
    
  }

}

// ic sayfalari hizala
.container-subpage {
  background-color: transparent;
  
  // masaüstü
  @media (min-width: $screen-sm) {
    margin-bottom: 30px;
  }
}

// mobil
.container-fluid-subpage {
  @media (max-width: $screen-sm) {
    margin-top: -80px;
    min-height: 50px;
  }
}

.info-subpage {
  padding: 15px 0;
  margin-left: -30px;
  margin-right: -30px;
  background-color: #fff;
  @include z-depth(2);

  // masaüstü
  @media (min-width: $screen-lg) {
    padding: 25px;
    margin: 0;
  }
}

// ic sayfa basligi
.info-title-subpage {
  position: relative;
  margin: -25px -15px 0;
  font-size: 24px;
  background-color: #f8f8f8;
  padding: 15px 25px;
  @include z-depth(2);

  // masaüstü
  @media (min-width: $screen-lg) {
    margin: -25px -40px 0;
  }

  &:after {
    position: absolute;
    content: "";
    width: 35%;
    height: 3px;
    background-color: $gazi-orange;
    bottom: -2px;
    left: 25px;
  }
}

// ic sayfanin icerigi
.info-details-subpage {
  table,
  iframe,
  img {
    max-width: 100%;
  }

  iframe {
    width: 100%;
  }

  @media (min-width: $screen-md) {
    margin-left: -15px;
    margin-right: -15px;
  }
}

// duyuru icerigi
.info-details {
  img,
  table {
    max-width: 100%;
  }
}

// takvim
.news-list-oldnews,
.takvim-div {
  float: right;

  @media (max-width: $screen-lg) {
    width: auto;
    float: none;
  }
}

// sayfa yukseligi
#content,
.container-fluid-subpage,
.container-subpage {
  min-height: 200px;
}

}