.be {

// baslik bosluklari
.gazi-header {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

// logo ayarlari
#gazi-site-title {
  float: left;
  color: $gazi-color;
  margin-top: 0;

  .logo-divider,
  .logo-text,
  img {
    float: left;
    margin-right: 0.875rem;
  }

  img {
    min-width: 100px;
    min-height: 100px;
  }

  .logo-text {
    padding: 35px 0;
    line-height: 30px;
    margin-right: 0;
  }

  @media (max-width: $screen-sm) {
    margin-top: 0 !important;

    .logo-text {
      max-width: 90px;
      font-size: 24px;
      padding: 20px 0;
    }
  }
}

// arama cubugu
#search-form-pc {
  margin: 33px 0;

  .input-group {
    @include z-depth(2);

    .input-group-addon,
    .form-control {
      border-radius: 0;
    }
  }
}

#search-form-mbl {
  margin: 8px 0;

  .input-group {
    @include z-depth(2);

    .input-group-addon,
    .form-control {
      border: 0;
      border-radius: 0;
    }
  }
}

#search-ul {
  border-radius: 0;
}

// menu kenarligi pasif etme
.navbar {
  border-radius: 0;
  border-width: 0;
  border-color: transparent;
}

// menu arkaplan degisikligi
#navbar-border {
  background: $gazi-nav-bg;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #203461, $gazi-nav-bg);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #203461, $gazi-nav-bg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  @include z-depth(2);
}

// menu alt cizgi sifirlama
#navbar-border,
.dropdown-toggle {
  border-bottom-width: 0 !important;
}

// menu ozellestirmeleri
.gazi-navbar {
  font-family: 'Montserrat-Medium';
  font-size: 13px;
  text-transform: uppercase;

  .navbar-nav {
    > li {

      // sonuncu menunun borderi olmasin
      &:last-child a:after {
        content: none;
      }

      > a {
        position: relative;
        @include transition(background-color .3s ease);
        
        &:before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          right: 0;
          height: 3px;
          background-color: $gazi-orange;
          opacity: 0;
          @include transition(opacity .3s ease);
        }

        @media (min-width: $screen-lg) {
          &:after {
            position: absolute;
            content: "";
            width: 1px;
            height: 100%;
            top: 0;
            right: 0;
            background-color: rgba(255, 255, 255, 0.07);
          }
        }
      }

      &:hover {
        //
        > a{
          background-color: rgba(0,0,0,0.2) !important;
          
          &:before {
            opacity: 1;
          }
        }
      }
    }

    @media (min-width: $screen-lg) {
      .mega-dropdown-menu {
        position: absolute;
        border-width: 0 !important;
        min-width: 99.8%;

        li {

          a {
            white-space: nowrap;
            text-transform: none;
          }

        }
      }
    }

  }

}

// ana menü soldan boşluk
@media (min-width: $screen-lg) {
  .mega-dropdown {
    padding-left: 35px;
  }
}

// mobil menu ozellestirmeleri
#navbar-border .col-lg-10{
  @media (max-width: $screen-lg) {

    #nav-col-div {
      margin-left: -15px;
      margin-right: -15px;
    }

    .navbar-nav {
      margin-top: 0;
      margin-left: 0;
    }
  }
}

// anasayfa simgesi
.home-icon {
  width: $nav-height;
  height: $nav-height;
  line-height: $nav-height;
  text-align: center;
  left: 15px !important;
  top: 0;
  background-color: rgba(0,0,0,0.05);

  &:hover a:before {
    opacity: 1;
  }

  > a {
    position: relative;
    display: block;

    &:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      height: 3px;
      background-color: $gazi-orange;
      opacity: 0;
    }

    &:after {
      position: absolute;
      content: "";
      width: 1px;
      height: 100%;
      top: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0.07);
    }
  }
}

// gazi portal baglantisi
.gazi-portal {
  float: right;
  color: #a0aac0;
  line-height: $nav-height;
  font-size: 11px;
  margin-left: 15px;
  font-family: "Montserrat-Light";
  @include transition(color .3s ease);

  &:hover {
    color: #fff;
  }
}

// english butonu ortalama
.navbar-right {

  a {
    margin-top: 3px;
    display: inline-block;
    @include transition(color .3s ease);

    &:hover {
      color: #fff;
    }
  }
}

// mobil menü butonunu güzelleştir
#navbar-hidden-menu {
  margin-top: 0;

  .navbar-toggle {
    margin: 0;
    float: none;
    border: 0;
  }
}

#menu-lines {
  background: none;
  color: #fff;
  font-size: 21px;
  width: $nav-height * 0.75;
  height: $nav-height;
  line-height: $nav-height;
}

// mobil dil secimi ve paylaş
@media (max-width: $screen-lg) {
  .lang a {
    line-height: $nav-height;
  }

  .share-link {
    display: none;
  }
}

}