.be {
  .gazi-header {
    padding-bottom: 0;
  }

  .gazi-logo {
    padding-top: 0;
  }

  #search-form-pc {
    padding-top: 0;
  }

  .div-ata {
    padding-top: 0;
  }

  .navbar-right {
    margin-right: -15px;
  }

  #content {
    padding-top: $nav-height + 30px;
  }

  .rmv-paddingtop {
    margin-top: 0;
  }

  #onemli-baglantilar {
    padding-left: 0;
    padding-right: 0;
  }
}