body,
.footer-address {
  font-family: "Montserrat-Regular", sans-serif;
}

.info-title {
  font-family: "Montserrat-Medium", sans-serif;
}

.info-subpage {
  font-family: "Montserrat-Light", sans-serif !important;
  font-size: 14px !important;
  color: #555 !important;
  line-height: 1.65em;
}