$gazi-color: #265492;
$gazi-nav-bg: #2a4173;
$gazi-orange: #f18419;
$nav-height: 50px;

// ekran kirilimlari
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
$screen-md:                  992px;
$screen-md-min:              $screen-md;
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);